.task-title {
    margin-top: 30px;
}

.task-add {
    margin-top: 30px;
    background-color: lightgrey;
}

.task-add:hover {
    background-color: green;
    color: white;
}

.task-add-icon {
    padding-left: 5px;
}

.task-list {
    list-style: none;
    margin-top: 30px;
}

.task-item {
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
}