.page {
    text-align: center;
}

.welcome-title {
    margin-top: 100px;
}

.welcome-description {
    margin-top: 50px;
    color: gray;
}

.start-button {
    margin-top: 100px;
}

.fadeInAndOut {
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 2s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}